<!DOCTYPE html>
<html>
  <head>
  	<title>White Chapel - Password Auditing Framework</title>
    <script src="/lib/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">
              White Chapel - Password Auditing Framework
            </a>

            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/upload">Upload</a></li>
            </ul>
        </div>
      </div>
    </div>


	<div class="container">
		<%if @error then %>
			<div class="alert alert-error"><%=@error%></div>
		<% end %>
    	<%= yield %>
	</div>
  </body>
</html>

