<!DOCTYPE html>
<html>
<head>
	<title>White Chapel Password Audit Suite</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<div id="search-form">
	<h1>
		<a href="/">Search for passwords or hashes</a><br>
	</h1>
	<form action="/" method="get" accept-charset="utf-8">
		<input type="hidden" name="s" value="<%= params[:s] %>">
		<input type="text" name="q" value="<%= params[:q] %>">
		<input type="submit" value="Search">
	</form>
</div>
<br>
<br>
<table border=1>
	<tr>
		<th>TYPE</th>
		<th>PASSWORD</th>
		<th>HASH</th>
	</tr>
	<% @s.results.each do |m| %>
	<tr>
		<td><%= m['type'] %></td>
		<td><%= m['password'] %></td>
		<td><%= m['hash'] %></td>
	</tr>
<% end %>
</table>

<% if @s.results.total > (params[:p].to_i+1)*settings.per_page %>
	<p>
		<a href="/?q=<%= params[:q] %>&amp;s=<%= params[:s] %>&amp;p=<%= params[:p].to_i+1 %>">Next &raquo;</a>
	</p>
<% end %>

<% if @s.results.empty? %>
	<p>No results.</p>
<% end %>

</body>
</html>